In [3]:
#Importar las librerias para el analisis
import pandas as pd
import numpy as np
import matplotlib.pylab as plb
from sklearn.cluster import KMeans

In [4]:
dif = pd.read_csv('./Diamonds_are_forever.csv')

In [5]:
dif

     Carat  Colour  Clarity  Lab  Price ($US)
0     0.30       1        5    1        911.4
1     0.30       2        4    1       1057.0
2     0.30       4        2    1       1057.0
3     0.30       4        4    1        882.0
4     0.31       1        4    1       1148.7
..     ...     ...      ...  ...          ...
303   1.01       6        4    3       5722.5
304   1.02       3        3    3       7557.2
305   1.06       5        3    3       6923.0
306   1.02       5        5    3       6271.3
307   1.09       6        3    3       6374.9

[308 rows x 5 columns]

In [6]:
# Conocer el tamano del DataFrame
dif.shape

(308, 5)

In [7]:
dif.columns

Index(['Carat', 'Colour', 'Clarity', 'Lab', 'Price ($US)'], dtype='object')

In [8]:
# Conocer los tipos de datos del DataFrame
dif.dtypes

Carat          float64
Colour           int64
Clarity          int64
Lab              int64
Price ($US)    float64
dtype: object

In [9]:
# Obtener informacion basica de los datos
dif.describe()

            Carat     Colour     Clarity         Lab   Price ($US)
count  308.000000  308.00000  308.000000  308.000000    308.000000
mean     0.630909    3.75000    3.152597    1.766234   3513.638636
std      0.277183    1.40236    1.293718    0.833283   2382.181001
min      0.180000    1.00000    1.000000    1.000000    446.600000
25%      0.350000    3.00000    2.000000    1.000000   1137.500000
50%      0.620000    4.00000    3.000000    2.000000   2950.500000
75%      0.850000    5.00000    4.000000    3.000000   5212.200000
max      1.100000    6.00000    5.000000    3.000000  11205.600000

In [10]:
# Obtener descripciones de datos no numericos
dif.describe(include = 'all')

            Carat     Colour     Clarity         Lab   Price ($US)
count  308.000000  308.00000  308.000000  308.000000    308.000000
mean     0.630909    3.75000    3.152597    1.766234   3513.638636
std      0.277183    1.40236    1.293718    0.833283   2382.181001
min      0.180000    1.00000    1.000000    1.000000    446.600000
25%      0.350000    3.00000    2.000000    1.000000   1137.500000
50%      0.620000    4.00000    3.000000    2.000000   2950.500000
75%      0.850000    5.00000    4.000000    3.000000   5212.200000
max      1.100000    6.00000    5.000000    3.000000  11205.600000

In [12]:
# Guardar el DataFrame en un archivo
dif.to_csv('./Diamonds_are_forever.csv', index = False)

In [13]:
# Funcion que recibe un DataFrame, una proporcion y el nombre de la clase
# Genera cuatro conjuntos de datos para entrenamiento y pruebas del algoritmo de aprendizaje
from sklearn.model_selection import train_test_split

def split_label(dif, test_size, label):
    train, test = train_test_split(dif, test_size = test_size)
    features = dif.columns.drop(label)
    train_X = train[features]
    train_Y = train[label]
    test_X = test[features]
    test_Y = test[label]
    return train_X, train_Y, test_X, test_Y

In [14]:
# Dividir el conjunto de datos de pasajeros del Titanic
train_X, train_Y, test_X, test_Y = split_label(dif, 0.2, "Price ($US)")

In [15]:
# Aplicar onehotencoder a la columna "Embarked"
from sklearn.preprocessing import OneHotEncoder

one = OneHotEncoder(handle_unknown = 'ignore')

result = one.fit_transform(train_X["Lab"].values.reshape(-1, 1)).toarray()
train_X_1 = train_X
train_X_1[["0", "1", "2"]] = pd.DataFrame(result, index = train_X_1. index)
train_X_1

     Carat  Colour  Clarity  Lab    0    1    2
272   0.82       4        3    3  0.0  0.0  1.0
105   0.74       5        5    1  1.0  0.0  0.0
276   0.86       5        5    3  0.0  0.0  1.0
268   0.81       3        4    3  0.0  0.0  1.0
116   1.00       1        4    1  1.0  0.0  0.0
..     ...     ...      ...  ...  ...  ...  ...
163   0.19       4        2    2  0.0  1.0  0.0
16    0.34       4        4    1  1.0  0.0  0.0
160   0.19       3        2    2  0.0  1.0  0.0
286   1.00       5        2    3  0.0  0.0  1.0
235   0.53       3        3    3  0.0  0.0  1.0

[246 rows x 7 columns]

In [16]:
# Aplicar escalamiento [0,1] a todos los valores
from sklearn.preprocessing import MinMaxScaler
min_max = MinMaxScaler()
train_X_2 = min_max.fit_transform(train_X_1.values)
train_X_2 = pd.DataFrame(train_X_2, columns=train_X_1.columns)
train_X_2

        Carat  Colour  Clarity  Lab    0    1    2
0    0.695652     0.6     0.50  1.0  0.0  0.0  1.0
1    0.608696     0.8     1.00  0.0  1.0  0.0  0.0
2    0.739130     0.8     1.00  1.0  0.0  0.0  1.0
3    0.684783     0.4     0.75  1.0  0.0  0.0  1.0
4    0.891304     0.0     0.75  0.0  1.0  0.0  0.0
..        ...     ...      ...  ...  ...  ...  ...
241  0.010870     0.6     0.25  0.5  0.0  1.0  0.0
242  0.173913     0.6     0.75  0.0  1.0  0.0  0.0
243  0.010870     0.4     0.25  0.5  0.0  1.0  0.0
244  0.891304     0.8     0.25  1.0  0.0  0.0  1.0
245  0.380435     0.4     0.50  1.0  0.0  0.0  1.0

[246 rows x 7 columns]

In [17]:
X = train_X_2
kmeans = KMeans(n_clusters=3).fit(X)

In [18]:
kmeans.labels_

array([1, 0, 1, 1, 0, 1, 1, 2, 1, 1, 0, 1, 0, 1, 0, 1, 0, 0, 0, 0, 1, 2,
       0, 0, 0, 0, 2, 2, 0, 1, 1, 2, 0, 0, 0, 2, 1, 0, 0, 0, 0, 0, 0, 0,
       2, 0, 0, 0, 1, 0, 2, 2, 1, 0, 1, 1, 0, 2, 2, 0, 2, 0, 0, 2, 2, 1,
       0, 0, 0, 0, 0, 0, 2, 0, 1, 0, 0, 0, 2, 2, 0, 2, 0, 1, 0, 2, 1, 0,
       2, 1, 0, 1, 0, 2, 2, 2, 0, 2, 2, 2, 0, 0, 1, 0, 2, 0, 0, 1, 0, 0,
       0, 0, 0, 0, 1, 0, 1, 0, 1, 2, 1, 2, 1, 0, 0, 2, 1, 0, 0, 2, 0, 2,
       0, 0, 0, 0, 2, 0, 1, 0, 2, 1, 0, 1, 2, 0, 0, 2, 0, 0, 0, 0, 1, 0,
       2, 2, 0, 0, 2, 1, 2, 1, 1, 0, 2, 2, 1, 0, 1, 2, 1, 0, 0, 1, 2, 0,
       1, 1, 0, 0, 0, 2, 1, 0, 1, 2, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0,
       2, 0, 2, 0, 1, 0, 1, 0, 0, 0, 2, 0, 0, 0, 2, 0, 0, 2, 2, 2, 1, 0,
       0, 1, 1, 1, 0, 0, 0, 2, 1, 2, 0, 0, 2, 1, 0, 0, 1, 0, 2, 1, 2, 2,
       0, 2, 1, 1], dtype=int32)

In [19]:
kmeans.cluster_centers_

array([[ 5.36027349e-01,  5.32258065e-01,  6.83467742e-01,
        -4.99600361e-16,  1.00000000e+00,  6.38378239e-16,
        -8.32667268e-16],
       [ 6.97755961e-01,  6.00000000e-01,  5.64516129e-01,
         1.00000000e+00,  1.11022302e-16, -1.94289029e-16,
         1.00000000e+00],
       [ 1.90579710e-01,  5.26666667e-01,  2.75000000e-01,
         5.00000000e-01,  1.11022302e-16,  1.00000000e+00,
         5.55111512e-17]])